# This file lists all the dependencies that are required to run CSC-52081-EP Lab5

# To have more information about the format of this file, please refer to the
# https://pip.pypa.io/en/stable/reference/requirements-file-format/


# GYMNASIUM ###################################################################

gymnasium[other]~=1.0.0           # "Toy text" environments only


# REQUIRED DEPENDENCIES #######################################################

# ipywidgets        # required for tqdm
# jupyterlab
# matplotlib
# numpy
# pandas
# pygame
# seaborn
# tqdm
